:root {

    /* couch, desk, charging station, water station */

    --desktop-color: #ff244c;
    --water-color: #16aeff;
    --couch-color: #ffaa00;
    --charging-color: #5ed40a;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

#red {
    color: var(--desktop-color);
}

header {
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 900;
    margin: 0;
}

header h2 {
    text-transform: lowercase;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 400;
}

@media only screen and (max-width: 470px) {
    header {
        min-height: 120px;
    }
    
    header h1 {
        font-size: 4vw;
    }

    header h2 {
        font-size: 12px;
    }

    .locations {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 14px; 
        margin: 50px 0;   
    }
    
    #locations-label {
        margin-bottom: 10px;
    }
}

.about {
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-div {
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    align-items: last baseline;
}

.right {
    align-items: first baseline;
}

.inner {
    height: 170px;
    width: 85%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: #0000001b;
    display: flex;
    margin: 15px 3%;
    opacity: 0.7;
    transition: 0.3s ease;
}

.inner:hover {
    opacity: 1;
}

.inner-img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    height: 130px;
    min-width: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.inner-text {
    height: 170px;
    width: 70%;
}

.inner-text h4 {
    margin: 0;
    padding: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}

.circle {
    height: 80px;
    width: 80px;
    color: white;
}

.inner-couch {
    background-color: var(--couch-color);
}

.inner-water {
    background-color: var(--water-color);
}

.inner-desk {
    background-color: var(--desktop-color);
}

.inner-charge {
    background-color: var(--charging-color);
}

@media only screen and (max-width: 960px) {
    .about {
        flex-direction: column;
    }

    .left, .right {
        align-items: center;
    }

    .about-div {
        width: 100%;
        height: 260px;
    }

    .inner-img {
        height: 70px;
        min-width: 70px;
        margin: 15px;
    }

    .inner {
        height: 100px;
        width: 90%;
    }

    .circle {
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width: 695px) {
    .inner-text h4 {
        font-size: 10px;
    }
}

.locations {
    display: flex;
    justify-content: center;
    font-size: 14px; 
    margin: 50px 0;   
}

#locations {
    margin: -2px 10px;
}

#map {
    margin: 25px auto;
    min-height: 550px;
    width: 85%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

footer {
    width: 100%;
    height: 70px;
}

/* resource styles in unhighlighted state */

.resource {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20%;
    color: #000000;
    display: flex;
    font-size: 12px;
    gap: 15px;
    height: 20px;
    width: 20px;
    justify-content: center;
    padding: 3px;
    position: relative;
    transition: all 0.5s ease;
}

.resource::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFFFFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-out;
    width: 0;
    z-index: 1;
}

.resource .icon {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.resource .icon svg {
    height: 15px;
    width: auto;
}

.resource .details {
    display: none;
    flex-direction: column;
    flex: 1;
}

.resource .title {
    max-width: 190px;
}

.resource .description {
    color: #9E9E9E;
    font-size: 10px;
    max-width: 200px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.resource .features {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.resource .features>div {
    align-items: center;
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    font-size: 10px;
    gap: 5px;
    padding: 5px;
}

.resource .img-container {
    display: none;
}

/* resource styles in highlighted state */

.resource.highlight {
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    min-height: 80px;
    height: auto;
    padding: 8px 15px;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.resource.highlight::after {
    border-top: 9px solid #FFFFFF;
}

.resource.highlight .details {
    display: flex;
    margin: 5px;
}

.resource.highlight .details .title {
    font-size: 14px;
}

.resource.highlight .details .comfort,
.resource.highlight .details .noise {
    margin: 0 0 2px 0;
    font-size: 12px;
}

.resource.highlight .icon svg {
    width: 40px;
    height: 40px;
}

.resource.highlight .img-container {
    display: inline;
    width: 120px;
    height: 100px;
    margin: 5px;
}

.resource.highlight .img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.checked {
    color: orange;
}

.fa-star {
    margin: 0 2px;
}

/* couch icon colors */

.resource.highlight:has(.fa-couch) .icon {
    color: var(--couch-color);
}

.resource:not(.highlight):has(.fa-couch) {
    background-color: var(--couch-color);
}

.resource:not(.highlight):has(.fa-couch)::after {
    border-top: 9px solid var(--couch-color);
}

/* desktop icon colors */

.resource.highlight:has(.fa-desktop) .icon {
    color: var(--desktop-color);
}

.resource:not(.highlight):has(.fa-desktop) {
    background-color: var(--desktop-color);
}

.resource:not(.highlight):has(.fa-desktop)::after {
    border-top: 9px solid var(--desktop-color);
}

/* water icon colors */

.resource.highlight:has(.fa-droplet) .icon {
    color: var(--water-color);
}

.resource:not(.highlight):has(.fa-droplet) {
    background-color: var(--water-color);
}

.resource:not(.highlight):has(.fa-droplet)::after {
    border-top: 9px solid var(--water-color);
}

/* RECLINER icon colors */

.resource.highlight:has(.fa-charging-station) .icon {
    color: var(--charging-color);
}

.resource:not(.highlight):has(.fa-charging-station) {
    background-color: var(--charging-color);
}

.resource:not(.highlight):has(.fa-charging-station)::after {
    border-top: 9px solid var(--charging-color);
}

/* form */

#form {
    padding: 0 15px 15px 15px;
    font-size: 10px;
    height: auto;
    width: 180px;
    overflow-x: hidden;
}

#title {
    margin-top: 0;
    padding-top: 0;
}

#title, #description, #type {
    padding: 3px;
    margin: 0;
    border: none;
    background-color: #0000001b;
    width: 180px;
}

#type {
    padding: 3px 3px 3px 0;
}

.writeInInputs h3, .chooseInput h3 {
    font-weight: 100;
    margin-bottom: 3px;
    margin-top: 10px;
    width: 180px;
}

#color {
    color: #00a6ff
}
